body {
	background-color:whitesmoke;
}

#contain {
	background-color:cornsilk;
}

h2 {
	text-align:center;
	padding-top: 0.25%;
	border:1.5px outset;
	margin:1.5%;
	background-color: moccasin;
}

img {

	border-radius:15px 15px 15px 15px;
	max-width: 50%;
	min-width: 25%;

}

#img {
	
	text-align:center;
	margin: auto;
	padding:1.5%;
	width:75%;
}